<div class="flex-container">

    <div><a routerLink="/curiosity">Curiosity</a>
        <br />
        <img src="assets/images/curiosity1.jpg" />
        <br />
        <ul>
            <li>Launch date: 26 November 2011, at 15:02:00 Landed: 6 August 2012,05:17:57 UTC</li>
            <li>Mission: determine whether the Red Planet ever was habitable 
                to microbial life.
            </li>
            <li>Location: Gale Crater</li>

        </ul>
    </div>
    <div><a routerLink="/spirit">Spirit</a>
        <br/>
        <img src="assets/images/spirit1.jpg" />
<ul>
    <li>Launch date:June 10,2003 at 8:58PM GMT+3;Landed: January 4,2004, 04:35UTC</li>
    <li>Mission: search for a range of rocks and soil types and then look for 
        clues for past water activity on Mars.</li>
    <li>Location: Gusev Crater</li>
</ul>
        <br/>
    </div>

    <div><a routerLink="/opportunity">Opportunity</a>
        <br/>
        <img src="assets/images/opportunity1.jpg" />
        <ul>
            <li>Launch date:July 8, 2003 at 6:18 AM GMT+3;Landed:January 25, 2004, 05:05 UTC</li>
        <li>Mission: to find more clues about the history of water.</li>
              
        </ul>
        <br/>
    </div>

</div>