.data-table{
    width: 90%;
}
.mat-column-sol{
    width:10%;
    text-align: center;
}
.mat-column-rover.name{
    width:15%;
    text-align: center;
    border-right: 50px;
    border-right: 1px solid 
}
.mat-column-img_src{
    width:50%;
    text-align: center;
}
img{
    width: 30%;
    height: 30%;
    border-radius: 2px;
}
.mat-column-rover-status{
    border-left: 3px solid rgba(212, 39, 39, 0.142);
    text-align: center;
}
.paginator{
    background-color: rgb(232, 219, 234);
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}
th{
    text-decoration: underline;
    font-size: medium;
}